# compiled python
*.pyc
__pycache__

# virtual environment
.venv

# private files for storing API keys
.api_keys/*

# cache, downloaded or local data folders
cache/*
data/*
storage/*
queries/*

# output from tests
tests/logs/*

# temporary files
old*